rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function isApprovedUser() {
      return request.auth != null &&
        exists(/databases/$(database)/documents/teamMembers/$(request.auth.token.email));
    }

    match /people/{docId} {
      allow read, write: if isApprovedUser();
    }

    match /vehicles/{docId} {
      allow read, write: if isApprovedUser();
    }

    match /suspects/{docId} {
      allow read, write: if isApprovedUser();
    }

    match /sessions/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }

    match /teamMembers/{email} {
      allow read: if isApprovedUser();
      allow write: if false;
    }
    match /encounters/{docId} {
      allow read, write: if isApprovedUser();
    }
    match /vehicleEncounters/{docId} {
      allow read, write: if isApprovedUser();
    }
    match /places/{docId} {
      allow read, write: if isApprovedUser();
    }
    match /unidentifiedPeople/{docId} {
      allow read, write: if isApprovedUser();
    }

  }

}
